@model FirmaTipiDto

<form method="post" asp-controller="FirmaTipi" asp-action="Create">
    <div class="form-group row">
        <label asp-for="FirmaTip" class="col-md-4 col-form-label"></label>
        <div class="col-md-8">
            <input type="text" asp-for="FirmaTip" class="form-control" />
        </div>
    </div>
     <div class="form-group row">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
    <div class="form-group row">
        <a class="btn btn-secondary" asp-action="Index" asp-controller="FirmaTipi">Geri Dön</a>
    </div>

</form>