@model Firma

<form method="post" asp-controller="Firma" asp-action="Create">

    <div class="form-group row">
        <label asp-for="FirmaAd" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="FirmaAd" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="Adres" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Adres" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="Telefon" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Telefon" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="Eposta" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Eposta" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="Faks" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Faks" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="Ulke" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Ulke" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="Sehir" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Sehir" class="form-control"/>
        </div>       
    </div>    
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
    <div class="form-group row">
        <a class="btn btn-secondary" asp-action="Index" asp-controller="Firma">Geri Dön</a>
    </div>

</form>