@model BiletliZiyaretciDto

<form method="post" asp-controller="BiletliZiyaretci" asp-action="Create">

    <div class="form-group row">
        <label asp-for="Ad" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Ad" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="SoyAd" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="SoyAd" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="FirmaAdı" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="FirmaAdı" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="Adres" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Adres" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="Telefon" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Telefon" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="Eposta" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Eposta" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="Faks" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Faks" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="Meslek" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="Meslek" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
    <div class="form-group row">
        <a class="btn btn-secondary" asp-action="Index" asp-controller="BiletliZiyaretci">Geri Dön</a>
    </div>
</form>